---
import { Image } from 'astro:assets';

import productImage from '/src/assets/images/image-product-1-thumbnail.jpg';
---

<style>
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 4pt;
  }
</style>

<ul
  id='cart-items-list'
  class='cart-items-list'>
  <li>
    <div>
      <div class='image-wrapper'>
        <Image
          src={productImage}
          alt='Sneaker Product'
          width={50}
          height={50}
        />
      </div>
    </div>
  </li>
</ul>
