---
const { id, maxWidthEnable } = Astro.props;
---

<style>
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;

    min-height: 56px;
    width: 100%;

    border-radius: 10pt;
    border: none;
    background-color: var(--clr-orange-500);

    font-weight: 700;

    transition: background-color 0.1s ease-out;
  }

  button:hover {
    cursor: pointer;
    background-color: var(--clr-orange-200);
  }

  button[data-max-width-enable='true'] {
    max-width: 272px;
  }
</style>

<button
  id={id}
  data-max-width-enable={maxWidthEnable}>
  <slot />
</button>
