---

---

<style>
  p {
    margin: 0;
    padding: 0;
  }

  .num-counter-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-height: 56px;

    width: 100%;
    max-width: 157px;

    font-weight: 700;

    background-color: var(--clr-blue-100);

    border-radius: 10pt;
  }

  .num-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1rem;

    color: var(--clr-orange-500);
    font-weight: 700;
    font-size: 1.4rem;

    transition: color 0.1s ease-out;

    user-select: none;
  }

  .num-btn:hover {
    cursor: pointer;
    color: var(--clr-orange-200);
  }

  input[type='number'] {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2rem;

    margin: 0;
    padding: 0;

    border: none;
    outline: none;

    background-color: transparent;

    text-align: center;
    font-size: 16px;
    font-weight: 700;

    -moz-appearance: textfield;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .visually-hidden {
    position: absolute;

    pointer-events: none;

    width: 1px;
    height: 1px;

    margin: 0;
    padding: 0;

    color: transparent;

    border: none;

    overflow: hidden;

    clip: rect(0, 0, 0, 0);

    white-space: nowrap;
  }

  @media screen and (max-width: 1150px) {
    .num-counter-wrapper {
      max-width: 100%;
    }

    .num-btn {
      position: relative;
      font-size: 2rem;
      padding-inline: 1.8rem;
      padding-block: 0;
    }

    p {
      position: absolute;
      top: 50%;
    }

    #btn-item-increment > p {
      transform: translateY(-60%);
    }

    #btn-item-decrement > p {
      transform: translateY(-55%);
    }

    #item-quantity {
      font-size: 1.2rem;
    }
  }
</style>

<div class='num-counter-wrapper'>
  <div
    id='btn-item-decrement'
    class='num-btn'>
    <p>-</p>
  </div>
  <label
    class='visually-hidden'
    for='item-quantity'
    >Item Quantity</label
  >
  <input
    id='item-quantity'
    name='item-quantity'
    type='number'
    min='0'
    max='100'
    step='1'
    class='num'
    placeholder='0'
  />
  <div
    id='btn-item-increment'
    class='num-btn'>
    <p>+</p>
  </div>
</div>
