---

---

<style>
  .num-counter-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-height: 56px;

    width: 100%;
    max-width: 157px;

    font-weight: 700;

    background-color: var(--clr-blue-100);

    border-radius: 10pt;
  }

  .num-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1rem;

    color: var(--clr-orange-500);
    font-weight: 700;
    font-size: 1.4rem;
  }
</style>

<div class='num-counter-wrapper'>
  <div class='num-btn'>+</div>
  <p class='num'>0</p>
  <div class='num-btn'>-</div>
</div>
