---
import '/src/style/global.css';
import ProductImageCollection from '../components/product_images/ProductImageCollection.astro';
import Base from '../layouts/Base.astro';
import NumberInput from '../components/inputs/NumberInput.astro';
import Button from '../components/inputs/Button.astro';
import ProductImageOverlay from '../components/product_images/ProductImageOverlay.astro';
import CartMenuOverlay from '../components/cart/CartMenuOverlay.astro';

const normalMainImageId = 'main-image-normal';
const normalListItemNames = 'product-item-normal';
---

<style>
  main {
    display: flex;
    align-items: center;
    gap: 8rem;

    margin-top: 4rem;
  }

  .product-company {
    font-size: 13px;
    color: var(--clr-blue-600);
    font-weight: 700;

    text-transform: uppercase;
    letter-spacing: 2px;

    margin-bottom: 1rem;
  }

  .product-title {
    font-size: 44px;
    line-height: 100%;
  }

  .product-description {
    color: var(--clr-blue-600);
    font-size: 16px;
    line-height: 150%;

    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .product-prices-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-bottom: 2rem;
  }

  .product-current-price-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .product-current-price {
    font-size: 28px;
    font-weight: 700;
  }

  .product-discount {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 51px;
    height: 27px;

    color: var(--clr-white);
    font-weight: 700;

    border-radius: 6pt;

    background-color: var(--clr-blue-900);
  }

  .product-old-price {
    font-weight: 16px;
    color: var(--clr-blue-600);
    font-weight: 700;

    text-decoration: line-through;
  }

  .add-to-cart-buttons-wrapper {
    display: flex;
    gap: 1rem;
  }

  @media screen and (max-width: 1150px) {
    main {
      flex-direction: column;

      margin-inline: auto;
    }

    .product-details {
      padding: 1rem;
    }

    .product-prices-wrapper {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .add-to-cart-buttons-wrapper {
      flex-direction: column;
    }
  }
</style>

<Base>
  <main class='max-width'>
    <ProductImageOverlay />
    <CartMenuOverlay />

    <ProductImageCollection
      mainImageId={normalMainImageId}
      listItemNames={normalListItemNames}
      isOverlay='false'
    />
    <div class='product-details'>
      <h2 class='product-company'>Sneaker Company</h2>
      <h1 class='product-title'>Fall Limited Edition Sneakers</h1>
      <p class='product-description'>
        These low-profile sneakers are your perfect casual wear companion.
        Featuring a durable rubber outer sole, they’ll withstand everything the
        weather can offer.
      </p>
      <div class='product-prices-wrapper'>
        <div class='product-current-price-wrapper'>
          <p class='product-current-price'>$125.00</p>
          <p class='product-discount'>50%</p>
        </div>
        <div class='product-old-price'>$250.00</div>
      </div>
      <div class='add-to-cart-buttons-wrapper'>
        <NumberInput />
        <Button
          id='btn-add-to-cart'
          maxWidthEnable='true'>
          <svg
            class='cart-icon'
            width='22'
            height='20'
            xmlns='http://www.w3.org/2000/svg'
            ><path
              d='M20.925 3.641H3.863L3.61.816A.896.896 0 0 0 2.717 0H.897a.896.896 0 1 0 0 1.792h1l1.031 11.483c.073.828.52 1.726 1.291 2.336C2.83 17.385 4.099 20 6.359 20c1.875 0 3.197-1.87 2.554-3.642h4.905c-.642 1.77.677 3.642 2.555 3.642a2.72 2.72 0 0 0 2.717-2.717 2.72 2.72 0 0 0-2.717-2.717H6.365c-.681 0-1.274-.41-1.53-1.009l14.321-.842a.896.896 0 0 0 .817-.677l1.821-7.283a.897.897 0 0 0-.87-1.114ZM6.358 18.208a.926.926 0 0 1 0-1.85.926.926 0 0 1 0 1.85Zm10.015 0a.926.926 0 0 1 0-1.85.926.926 0 0 1 0 1.85Zm2.021-7.243-13.8.81-.57-6.341h15.753l-1.383 5.53Z'
              fill='inherit'
              fill-rule='nonzero'
            ></path>
          </svg>
          <span>Add to cart</span>
        </Button>
      </div>
    </div>
  </main>
</Base>

<script defer type='module'>
  import initAddToCartButton from '/src/scripts/cartManager.js';

  initAddToCartButton();
</script>
