---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Frontend Mentor | E-commerce product page</title>
	</head>
	<body>
		Collections
		Men
		Women
		About
		Contact
	  
		Sneaker Company
	  
		Fall Limited Edition Sneakers
	  
		These low-profile sneakers are your perfect casual wear companion. Featuring a 
		durable rubber outer sole, they’ll withstand everything the weather can offer.
	  
		$125.00
		50%
		$250.00
	  
		0
		Add to cart
	</body>
</html>
