---
import Base from '../layouts/Base.astro';
---

<Base>
  <header>
    <nav>
      <div>logo</div>
      <ul>
        <li><a href='/collections/'>Collections</a></li>
        <li><a href='/collections/'>Men</a></li>
        <li><a href='/collections/'>Women</a></li>
        <li><a href='/collections/'>About</a></li>
        <li><a href='/collections/'>Contact</a></li>
      </ul>
      <button>cart</button>
      <button>profile</button>
    </nav>
  </header>

  <main>
    <h2>Sneaker Company</h2>
    <h1>Fall Limited Edition Sneakers</h1>
    <p>
      These low-profile sneakers are your perfect casual wear companion.
      Featuring a durable rubber outer sole, they’ll withstand everything the
      weather can offer.
    </p>
    <div>
      <div>
        <p>$125.00</p>
        <p>50%</p>
      </div>
      <div>$250.00</div>
    </div>
    <div>0</div>
    <button>Add to cart</button>
  </main>
</Base>
