---

---

<style>
  .product-image-list-item {
    width: 100%;
    max-width: 88px;
    min-height: 88px;

    border-radius: 10pt;

    background-color: #eee;
  }

  .product-image-list-item:hover {
    cursor: pointer;
  }
</style>

<div class='product-image-list-item'></div>
