---
import ProductImageListItem from './ProductImageListItem.astro';
const imageSources = [
  '/src/assets/images/image-product-1-thumbnail.jpg',
  '/src/assets/images/image-product-2-thumbnail.jpg',
  '/src/assets/images/image-product-3-thumbnail.jpg',
  '/src/assets/images/image-product-4-thumbnail.jpg',
];
---

<style>
  .product-item-list {
    display: flex;
    justify-content: space-between;

    width: 100%;
  }
</style>

<div class='product-item-list'>
  <ProductImageListItem
    active='true'
    imageSource={imageSources[0]}
  />

  <ProductImageListItem
    active='false'
    imageSource={imageSources[1]}
  />

  <ProductImageListItem
    active='false'
    imageSource={imageSources[2]}
  />

  <ProductImageListItem
    active='false'
    imageSource={imageSources[3]}
  />
</div>

<script defer>
  const listItems = document.querySelectorAll('.product-image-list-item');

  let lastActiveItem = listItems[0];

  function handleOnItemClick(item) {
    lastActiveItem.setAttribute('data-active', 'false');
    item.setAttribute('data-active', 'true');
    lastActiveItem = item;
  }

  listItems.forEach((item) => {
    item.addEventListener('click', () => handleOnItemClick(item));
  });
</script>
