---
const images = [
  '/src/assets/images/image-product-1.jpg',
  '/src/assets/images/image-product-2.jpg',
  '/src/assets/images/image-product-3.jpg',
  '/src/assets/images/image-product-4.jpg',
];

const { mainImageId } = Astro.props;
---

<style>
  .wrapper {
    width: 100%;
    min-height: 445px;

    border-radius: 15pt;

    overflow: hidden;
  }

  img {
    max-width: 100%;
  }
</style>

<div class='wrapper'>
  <img
    id={mainImageId}
    src={images[0]}
    alt=''
  />
</div>
