---
import ProductImageList from './ProductImageList.astro';
import ProductImageMain from './ProductImageMain.astro';
---

<style>
  .product-image-collection {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    min-height: 565px;
    width: 100%;
    max-width: 445px;

    /* Temp Color */
    /* background-color: grey; */
  }
</style>

<div class='product-image-collection'>
  <ProductImageMain />
  <ProductImageList />
</div>
