---
import { Image } from 'astro:assets';

const { active, imageSource, imageAlt, className } = Astro.props;
---

<style>
  .product-image-list-item-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 88px;
    min-height: 88px;

    aspect-ratio: 1;

    border-radius: 10pt;

    background-color: #eee;

    outline: 0px solid rgba(0, 0, 0, 0);

    overflow: hidden;

    transition: outline 0.03s ease-out;
  }

  .product-image-list-item-wrapper:hover {
    cursor: pointer;
    outline: 2px solid var(--clr-orange-500);
  }

  .product-image-list-item-wrapper[data-active='true'] {
    outline: 2px solid var(--clr-orange-500);
  }

  img {
    max-width: 100%;
    transition: opacity 0.03s ease-out;
  }

  .product-image-list-item-wrapper[data-active='true'] > .image-container {
    opacity: 0.2;
  }

  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-container > img {
    aspect-ratio: 1;
    width: 100%;
    height: 100%;
  }
</style>

<div
  data-active={active}
  class=`${className} product-image-list-item-wrapper`>
  <div class='image-container'>
    <Image
      src={imageSource}
      alt=''
    />
  </div>
</div>
