:root {
  --clr-orange-500: hsl(26, 100%, 55%);
  --clr-orange-100: hsl(25, 100%, 94%);

  --clr-blue-900: hsl(220, 13%, 13%);
  --clr-blue-600: hsl(219, 9%, 45%);
  --clr-blue-500: hsl(220, 14%, 75%);
  --clr-blue-100: hsl(223, 64%, 98%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-black-trans: rgba(0, 0, 0, 0.75);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;

  margin: 0;
  padding: 0;
}

.max-width {
  max-width: 1110px;
}
