---

---

<style>
  #cart-open-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: transparent;

    z-index: 1;

    pointer-events: none;
  }
</style>

<div id='cart-open-overlay'></div>
