---

---

<style>
  button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background-color: transparent;
  }
</style>

<button id='cart-button'>
  <img
    src='/src/assets/icons/icon-cart.svg'
    alt='Cart Icon'
  />
</button>
