---
import CartMenu from './cart/CartMenu.astro';
import CartButton from './inputs/ViewCartButton.astro';
import LinkList from './LinkList.astro';
import Logo from './Logo.astro';
import ProfileButton from './ProfileButton.astro';
---

<style>
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 1rem;

    width: 100%;
  }

  nav :global(#cart-button) {
    margin-left: auto;
  }

  hr {
    width: 100%;
    margin-top: 2rem;
    border: none;

    height: 1px;
    background-color: var(--clr-grey-400);
  }

  .nav-left-items-wrapper {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  .nav-cart-wrapper {
    position: relative;
    margin-right: 1.5rem;
  }

  .nav-logo-wrapper {
    margin-right: 2rem;
  }

  #btn-open-nav-drawer {
    display: none;

    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
  }

  #nav-menu-icon {
    fill: #69707d;

    transition: fill 0.1s ease-out;
  }

  #nav-menu-icon:hover {
    fill: var(--clr-orange-500);
  }

  @media screen and (max-width: 1150px) {
    nav {
      padding: 1rem;
    }

    #btn-open-nav-drawer {
      display: flex;
      margin-right: 1rem;
    }

    .header-link-list-wrapper {
      display: none;
    }

    hr {
      display: none;
    }

    .nav-cart-wrapper {
      position: inherit;
      margin-right: 0;
    }
  }
</style>

<header class='max-width'>
  <nav>
    <div class='nav-left-items-wrapper'>
      <button id='btn-open-nav-drawer'>
        <svg
          id='nav-menu-icon'
          width='16'
          height='15'
          xmlns='http://www.w3.org/2000/svg'
          ><path
            d='M16 12v3H0v-3h16Zm0-6v3H0V6h16Zm0-6v3H0V0h16Z'
            fill='inherit'
            fill-rule='evenodd'
          ></path></svg
        >
      </button>
      <span class='nav-logo-wrapper'><Logo /></span>
      <div class='header-link-list-wrapper'>
        <LinkList />
      </div>
    </div>
    <div class='nav-cart-wrapper'>
      <CartButton />
      <CartMenu />
    </div>
    <ProfileButton />
  </nav>
  <hr />
</header>
