---
import CartButton from './CartButton.astro';
import LinkList from './LinkList.astro';
import Logo from './Logo.astro';
import ProfileButton from './ProfileButton.astro';
---

<style>
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 1rem;

    width: 100%;
  }

  nav :global(#cart-button) {
    margin-left: auto;
  }

  hr {
    width: 100%;
    margin-top: 2rem;
    border: none;

    height: 1px;
    background-color: #eee;
  }
</style>

<header class='max-width'>
  <nav>
    <Logo />
    <LinkList />
    <CartButton />
    <ProfileButton />
  </nav>
  <hr />
</header>
