---
import CartButton from './CartButton.astro';
import LinkList from './LinkList.astro';
import Logo from './Logo.astro';
import ProfileButton from './ProfileButton.astro';
---

<header>
  <nav>
    <Logo />
    <LinkList />
    <CartButton />
    <ProfileButton />
  </nav>
</header>
