---
import CartMenu from './CartMenu.astro';
import CartButton from './inputs/CartButton.astro';
import LinkList from './LinkList.astro';
import Logo from './Logo.astro';
import ProfileButton from './ProfileButton.astro';
---

<style>
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 1rem;

    width: 100%;
  }

  nav :global(#cart-button) {
    margin-left: auto;
  }

  hr {
    width: 100%;
    margin-top: 2rem;
    border: none;

    height: 1px;
    background-color: var(--clr-grey-400);
  }

  .nav-left-items-wrapper {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  .nav-cart-wrapper {
    position: relative;
  }
</style>

<header class='max-width'>
  <nav>
    <div class='nav-left-items-wrapper'>
      <Logo />
      <LinkList />
    </div>
    <div class='nav-cart-wrapper'>
      <CartButton />
      <CartMenu />
    </div>
    <ProfileButton />
  </nav>
  <hr />
</header>
