---
import CartButton from './CartButton.astro';
import LinkList from './LinkList.astro';
import Logo from './Logo.astro';
import ProfileButton from './ProfileButton.astro';
---

<style>
  nav {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
</style>

<header>
  <nav>
    <Logo />
    <LinkList />
    <CartButton />
    <ProfileButton />
  </nav>
</header>
