---
import CartButton from './CartButton.astro';
import LinkList from './LinkList.astro';
import Logo from './Logo.astro';
import ProfileButton from './ProfileButton.astro';
---

<style>
  header {
    display: flex;
    width: 100%;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 1rem;

    width: 100%;
  }

  nav :global(#cart-button) {
    margin-left: auto;
  }
</style>

<header>
  <nav>
    <Logo />
    <LinkList />
    <CartButton />
    <ProfileButton />
  </nav>
</header>
