---
import CartButton from './CartButton.astro';
import LinkList from './LinkList.astro';
import ProfileButton from './ProfileButton.astro';
---

<header>
  <nav>
    <div>logo</div>
    <LinkList />
    <CartButton />
    <ProfileButton />
  </nav>
</header>
