---
import '../style/global.css';
---

<style>
  ul {
    display: flex;
    gap: 2rem;

    list-style-type: none;
  }

  a {
    position: relative;
    text-decoration: none;
    color: var(--clr-blue-600);
    font-size: 15px;

    transition-property: color;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
  }

  a:hover {
    color: var(---clr-blue-900);
  }

  a::after {
    content: '';
    position: absolute;
    top: 4rem;
    left: 0;

    width: 100%;
    height: 4px;

    background-color: transparent;

    transition-property: background-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
  }

  a:hover::after {
    background-color: var(--clr-orange-500);
  }

  @media screen and (max-width: 1150px) {
    ul {
      flex-direction: column;
      gap: 1.5rem;

      padding: 0;
    }

    a {
      font-weight: 700;
      color: var(---clr-blue-900)
    }
</style>

<ul>
  <li>
    <a href='frontend-mentor-ecommerce-product-page/collections/'>Collections</a>
  </li>
  <li><a href='frontend-mentor-ecommerce-product-page/collections/'>Men</a></li>
  <li><a href='frontend-mentor-ecommerce-product-page/women/'>Women</a></li>
  <li><a href='frontend-mentor-ecommerce-product-page/about/'>About</a></li>
  <li><a href='frontend-mentor-ecommerce-product-page/contact/'>Contact</a></li>
</ul>
