---
import ProductImageListItem from './ProductImageListItem.astro';
---

<style>
  .product-item-list {
    display: flex;
    justify-content: space-between;

    width: 100%;
  }
</style>

<div class='product-item-list'>
  <ProductImageListItem />
  <ProductImageListItem />
  <ProductImageListItem />
  <ProductImageListItem />
</div>
