---
import { Image } from 'astro:assets';
import avatar from '../assets/images/image-avatar.png';
---

<style>
  button {
    border: none;
    border-radius: 50%;

    height: 50px;
    width: 50px;

    margin: 0;
    padding: 0;

    outline: 0px solid rgba(0, 0, 0, 0);

    overflow: hidden;

    transition: outline 0.1s ease-out;
  }

  button:hover {
    cursor: pointer;
    outline: 3px solid var(--clr-orange-500);
  }

  .avatar-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .avatar-container > img {
    width: 50px;
    height: 50px;
  }

  @media screen and (max-width: 1150px) {
    button {
      width: 24px;
      height: 24px;
    }

    .avatar-container > img {
      width: 24px;
      height: 24px;
    }
  }
</style>

<button>
  <div class='avatar-container'>
    <Image
      src={avatar}
      alt=''
    />
  </div>
</button>
