---
import Header from '../components/Header.astro';
import NavDrawer from '../components/NavDrawer.astro';
import '../style/global.css';
---

<style>
  html {
    font-family: 'Kumbh Sans', sans-serif;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100vh;

    margin: 0;
    padding: 0;
  }

  @media screen and (max-width: 1150px) {
    body {
      justify-content: start;
      padding-top: 1rem;
    }
  }
</style>

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link
      rel='icon'
      type='image/png'
      href='/favicon.png'
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>Frontend Mentor | E-commerce product page</title>
  </head>
  <body>
    <NavDrawer />
    <Header />
    <slot />
  </body>
</html>
